* {
	box-sizing: border-box;
}
body {
	background: url('../img/carbon_fibre.png') fixed;
}

header {
	
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	color: #ddd;
	text-shadow: 1px 1px 5px black;
}

header h1 {
	margin: 0;
	font-size: 3em;
	font-family: "Verdana", sans-serif;
}

header p {
	margin: 0;
	margin-top: 15px;
	font-size: 2em;
}
section {
	background: #eee;
	margin: 0 auto;
	max-width: 900px;
	width: 95%;
	min-height: 400px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 1px 7px black;
}

h2 {
	text-align: center;
}

.form-group {
	width: 100%;
	text-align: center;

}

.input-group {
	margin-bottom: 15px;
	width: 300px;
	margin: 0 auto 10px;
}

.input-group > input {
	display: inline-block;
}

.input-group > label {
	font-size: 1.15em;
	width: 87px;
	margin: 0;
	display: inline-block;
}

.input-group > button {
	display: inline-block;
	width: 100%;
	height: 50px;
}

ul {
	list-style: none;
	margin: 25px 0 0 0;
}

li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 64px;
	width: 64px;
	background: white;
	text-align: center;
	font-weight: bold;
	vertical-align: top;
/*	padding-top: 10px;*/
	border-radius: 4px;
}

footer {
	background: #151515;
	height: 240px;
	color: #ddd;
	text-align: center;
	padding-top: 25px;
	margin-top: 220px;
	border-top: 1px solid black;
	font-size: 1.1em;
}

footer a {
	color: #ddd;
	padding: 5px 5px 5px 0;
}

footer a:hover {
	color: #D7924D;
	text-decoration: none;
}

.error {
	text-align: center;
	color: red;
}

.oj {
	background: #FF8250;
}
.blue {
	background: #4D9BD7;
}
.yellow {
	background: #FFD350;
}
.clearfix {
	display: table;
	content: "";
	clear: both;
}